html {
  font-family:Helvetica;
  text-align:center;
}
.title {
  font-size:70px;
  font-weight:bold;
  color:white;
}
.list {
  font-size:18px;
  font-weight:normal;
}
.header {
  background-image: url("./images/flatiron.png");
}
#process {
  font-size:32px;
  font-weight:bold;
}
.SH {
  font-size:23px;
  font-weight:bold;
}
.desc {
  font-size: 14px;
  font-weight:normal;
}
.NY {
  font-size:23px;
  color: white;
  font-weight:bold;
  background-image: url("./images/flatiron.png");
}
.footer {
  font-size:11px;
  color:white;
  background-color:dimgray;
  text-align:left;
}
